<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧭 Captain's Log</title>
</head>
<body>
    <h1>
        <%= log.title %>
    </h1>
    <p>
        Log Date: <%= log.createdAt.getMonth() + 1 %> - <%= log.createdAt.getDate() %> - <%= log.createdAt.getFullYear()%>
    </p>
    <p>
        Entry: <%= log.entry %>
    </p>
    <div>
        Ship Status: 
        <span>
            <% if(log.shipIsBroken == false){ %>
               <%= `Good Condition` %>
            <% }else{ %>
               <%= `Needs Repairs` %>
            <% } %>
        </span>
    </div>
    <a href="/logs">
        Return
    </a>
</body>
</html>